body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}


.row-for-table{
  background: white;
}

.row-for-table:hover{
  background: rgb(241, 241, 241);
}

.for-links a{
  color: white !important;
}

.for-links a:hover{
  color: rgb(202, 202, 202) !important;
}